<ion-header>
  <ion-navbar>
    <ion-title>Tracker</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
    <br><br>

<ion-grid>

    <div class="or-label" *ngIf = "lockerNumber">
      <div class="or-label">
       <ion-input  text-center type = "tel" placeholder="Locker Number" [(ngModel)] = "firstWorkout"></ion-input>
    </div>
     <button ion-button full round small (click)="addrow()">Begin Workout</button>
    </div>
   <div text-center *ngIf = "displayWorkout">
    
  
</div>

      <ion-card *ngIf = "displayButtons">
          <ion-card-content>
            <div text-nowrap>
            Sets: {{setCounter}}
             <div float-right>
            Reps: {{repCounter}}
          </div>
          </div>
         

            <ion-input text-center [(ngModel)] = "workout" placeholder="Name of Workout"></ion-input>         
            <ion-input text-center type = "tel" placeholder="Weight" [(ngModel)] = "Weight"></ion-input>
          </ion-card-content>
        </ion-card>

      
    </ion-grid>


  <ion-grid>
    <div *ngIf = "displayButtons">
    <ion-row>
    <ion-col>
    Sets
    <button ion-button outline small icon-only  (click) = "incrementSets()">
        <ion-icon name="add"></ion-icon>
      </button> 
      <button ion-button outline icon-only small (click) = "decrementSets()">
        <ion-icon name="remove"></ion-icon>
      </button> 
    </ion-col>
    <ion-col>
    Reps
     <button ion-button outline icon-only small  (click) = "incrementReps()">
        <ion-icon name="add"></ion-icon>
      </button> 
      <button ion-button outline icon-only small (click) = "decrementReps()">
        <ion-icon name="remove"></ion-icon>

      </button> 
    </ion-col>
  </ion-row>
  <ion-row>
    
    
      <button ion-button round small (click)="addrow()">Add a workout</button>
      

     <button ion-button round small (click)="loadPreviousWorkout()">Load Previous</button>

     <button ion-button round small (click) = "loadDefault()"> Load Default
     </button>

   
  </ion-row>
</div>
</ion-grid>

    <br>
    <div *ngIf = "displayButtons">
    {{myDate}}
      <br>
      Locker Number : {{firstWorkout}}
      </div>
      <ion-row *ngFor="let row of copyRows">
        
            
            {{ row?.name }}: {{row?.setCounter}} sets of {{row?.repCounter}} ({{row?.weight}})


       </ion-row>

</ion-content>
