page-home {


ion-item:hover a {
  background-color: slategray !important;
}


.label {
	float: left;
}

.mainButtons {
	text-align: center;
}

.content {
	text-align: center;
}

.workoutButton {
	position: relative;
	top: 50%;
}



}
